{% extends 'base.html' %} 

{% block body %}

    <div>
    <img style="height: 200px" src="{{nba.img}}" alt="{{nba.name}}" />
    </div>
        <h1>{{nba.name}}</h1>
    </div>
    <div>
        <h3>Season Record: {{nba.season_wins}} - {{nba.season_losses}}</h3>
        <h4>Current Players:</h4>
        {% for player in nba.players.all %}
            <div>{{player.name}}</div>
        {% empty %}
            <div>No Players Added</div>
        {% endfor %}
        <h4>Player History:</h4>
    </div>
    <div>
        <button class="btn"><a href="{% url 'nba_update' nba.pk %}">Update</a></button>
        <button class="btn"><a href="{% url 'nba_delete' nba.pk %}">Delete</a></button>
    </div>

{% endblock %}