{% extends 'base.html' %} 

{% block body %}

    <div>
    <img style="height: 200px" src="{{nba.img}}" alt="{{nba.name}}" />
    </div>
        <h1>{{nba.name}}</h1>
    </div>
    <div>
        <h3>Season Record: {{nba.season_wins}} - {{nba.season_losses}}</h3>
        {% for player in nba.players.all %}
            {% if player.time_line == 'Current' %}
            <h3>Current Players:</h3>
                <div>
                    <p>{{player.name}}</p>
                    <p>{{player.time_line}}</p>
                </div>
            {% elif players.time_line == 'Past' %}
            <h4>Player History:</h4>
                <p>{{player.name}}</p>
                <p>{{player.time_line}}</p>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        <button class="btn"><a href="{% url 'nba_update' nba.pk %}">Update</a></button>
        <button class="btn"><a href="{% url 'nba_delete' nba.pk %}">Delete</a></button>
    </div>

{% endblock %}