{% extends 'base.html' %}
{% block body %}

<h1>Players List</h1>


{% for player in players %}
    <div>
        <ul>
            <li>
                <a href="{% url 'players_show' player.id %}">
                    <div>
                        <img style="height: 100px" src="{{player.img}}" alt="{{player.name}}"/>
                        <span>{{ player.name }}</span>
                        <p>Position: {{ player.position }}</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
{% endfor %}
    <p>Create new Player: 
        <button class="btn">
        <a href="/player/create">
            Create
        </a>
        </button>
    </p>
{% endblock %}